= form_for :packed_item, url: warehoused_item_add_with_item_path, method: :post, html: {multipart: true, class: "new_item"} do |f|
  %h5 Use this form to simultaneously add a new item to the database and to the warehouse area. Indicate the new item's packing information in the form below.
  = render "packed_items/add_new_form_card", f: f, staged: true
