.content
  .header
    %h1.page-title Dashboard
    %ul.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li.active Dashboard
  .main-content
    .panel.panel-default
      %a.panel-heading{"data-toggle" => "collapse", :href => "#page-stats"} Latest Stats
      #page-stats.panel-collapse.panel-body.collapse.in
        .row
          .col-md-3.col-sm-6
            %h2 12
            %h4.text-muted.text-center New Items
          .col-md-3.col-sm-6
            %h2 4
            %h4.text-muted.text-center Self-flagged
          .col-md-3.col-sm-6
            %h2 31
            %h4.text-muted.text-center Boxes Packed
          .col-md-3.col-sm-6
            %h2 142
            %h4.text-muted.text-center Items Total
    .row
      .col-sm-6.col-md-6
        .panel.panel-default
          .panel-heading.no-collapse
            Recently Added Users
            %span.label.label-warning= User.count
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th First Name
                %th Last Name
                %th Phone #
            %tbody
              - User.first(5).each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td= user.phone

      .col-sm-6.col-md-6
        .panel.panel-default
          %a.panel-heading{"data-toggle" => "collapse", :href => "#widget1container"} Personal Notes
          #widget1container.panel-body.collapse.in
            %p
              Let a user create personal notes?
            %p
              Let them HTML escape for formatting?
            %p
              Hmmmmmmmmm. Return carriages are nice though.
            %p
              We'll see.
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading.no-collapse
            %span.panel-icon.pull-right
              %a.demo-cancel-click{:href => "#", :rel => "tooltip", :title => "Click to refresh"}
                %i.fa.fa-refresh
            Recently Added Items
          %table.table.list
            %tbody
              %tr
                %td
                  %a{:href => "#"}
                    %p.title Item 1
                  %p.info Category
                %td
                  %p Date: 7/19/2012
                  %a{:href => "#"} User.name
                %td
                  %p.text-danger.h3.pull-right{:style => "margin-top: 12px;"} VALUE
              %tr
                %td
                  %a{:href => "#"}
                    %p.title Item 2
                  %p.info Category
                %td
                  %p Date: 7/19/2012
                  %a{:href => "#"} User.name
                %td
                  %p.text-danger.h3.pull-right{:style => "margin-top: 12px;"} VALUE
              %tr
                %td
                  %a{:href => "#"}
                    %p.title Item 3
                  %p.info Category
                %td
                  %p Date: 7/19/2012
                  %a{:href => "#"} User.name
                %td
                  %p.text-danger.h3.pull-right{:style => "margin-top: 12px;"} VALUE
              %tr
                %td
                  %a{:href => "#"}
                    %p.title Item 4
                  %p.info Category
                %td
                  %p Date: 7/19/2012
                  %a{:href => "#"} User.name
                %td
                  %p.text-danger.h3.pull-right{:style => "margin-top: 12px;"} VALUE
