- if @items.none?
  %h4.text-center No items to unpack.
- else
  %h5 Unpack and remove items. Items completely unpacked with no remaining quantity will not be shown here.
  = render partial: "layouts/add_hospital_modal", locals: {redirect: request.original_url}
  - @items.each do |(item, packed_items)|
    = render "packed_items/nested_unpack_form_card", item: item, packed_items: packed_items

  = paginate @items, window: 2
