- if @items.none?
  %h4.text-center No items to unpack.
- else
  %h5 Unpack and remove items. Items completely unpacked with no remaining quantity will not be shown here.
  = render partial: "layouts/add_hospital_modal", locals: {redirect: request.original_url}
  = render partial: "search_form"
  #search-results
    = render "packed_items/nested_unpack_form_card", items: @items

  = paginate @items, window: 2
