= form_for @user do |f|
  .col-xs-12.col-sm-6
    -if @user == current_user || current_user.admin?
      .form-group
        %label New Password
        = f.password_field :password, class: "form-control"
      .form-group
        %label Confirm New Password
        = f.password_field :password_confirmation, class: "form-control"

  .col-xs-12
    .btn-toolbar.list-toolbar
      = submit_button_responsive("Save")
