.content
  .header
    %h1.page-title New Box
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@box).breadcrumbs
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      .col-md-4
        - unless @box.persisted?
          %h5 Confirm new box information.
        = render partial: "form"
