.content
  .header
    %h1.page-title Boxes
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@box).breadcrumbs
  .main-content
    .row
      .col-md-4
        = render partial: "form"
