.content
  .header
    %h1.page-title New Container
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs
  .main-content
    .row
      .col-md-4
        - unless @container.persisted?
          %h5 Confirm new container information.
        = render partial: "form"
