.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@container).breadcrumbs
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      .col-md-4
        - unless @container.persisted?
          %h5 Confirm new container information.
        = render partial: "form"
