- if @box.box_items.with_inventory.none?
  %h4.text-center No items to unpack.
- else
  %h5 Unpack and remove items from this box. Items completely unpacked with no remaining quantity and weight will not be shown here.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name...", assoc: "unpack-items"}
  - @box.box_items.with_inventory.each do |pi|
    = form_for :unpacking_event, url: box_box_item_box_unpacking_events_path(@box, pi) do |f|
      = render "packed_items/unpack_form_card", f: f, pi: pi
