- if @packed_items.none?
  %h5.text-center No staged items. Use the tabs to search or create a new item.
- else
  %h5 Update or remove existing staged items.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name or ID...", assoc: "manage-items"}
  - @packed_items.each do |pi|
    = form_for pi, url: staged_item_path(pi) do |f|
      = render "packed_items/manage_form_card", f: f, pi: pi, path: staged_item_path(pi), parent_type: "Staging"

= paginate @packed_items, window: 2
