- if @pallet.pallet_items.none?
  %h5.text-center No palleted items. Use the tabs to search or create a new item.
- else
  %h5 Update or remove existing items packed on this pallet.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name or ID...", assoc: "manage-items"}
  - @pallet.pallet_items.each do |pi|
    = form_for pi, url: pallet_pallet_item_path(@pallet, pi) do |f|
      = render "packed_items/manage_form_card", f: f, pi: pi, path: pallet_pallet_item_path(@pallet, pi), parent_type: "Pallet"
