.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Hospitals/Facilities/Clinics", hospitals_path
      %li.active New Hospital/Facility/Clinic
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      %br
      = render partial: "form"
