.content
  .header
    %h1.page-title Pallets
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs
  .main-content
    .row
      .col-md-4
        = render partial: "form"
