.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      = present(@pallet).breadcrumbs
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      .col-md-4
        - unless @pallet.persisted?
          %h5 Confirm new pallet information.
        = render partial: "form"
