.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Items", items_path
      %li.active New Item
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      = render partial: "form", locals: {submit_path: "item"}
