.content
  .header
    %h1.page-title Items
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Items", items_path
      %li.active New Item
  .main-content
    .row
      = render partial: "form", locals: {submit_path: "item"}
