- if @container.container_items.none?
  %h5.text-center This container has no items and may have been an error.
- else
  %h5 The shipping manifest for this box is shown here.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name...", assoc: "manage-items"}
  - @container.container_items.each do |pi|
    = render "packed_items/list_card", pi: pi
