- if @container.container_items.none?
  %h5.text-center No containerized items. Use the tabs to search or create a new item.
- else
  %h5 Update or remove existing items packed in this container.
  = render partial: "layouts/list_quick_filter", locals: {placeholder: "Filter by name or ID...", assoc: "manage-items"}
  - @container.container_items.each do |pi|
    = form_for pi, url: container_container_item_path(@container, pi) do |f|
      = render "packed_items/manage_form_card", f: f, pi: pi, path: container_container_item_path(@container, pi)
