.button {
  padding: 0.5em 2em;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  &.submit {
    background-color: #02a556;
  }
  &.view {
    background-color: #36454f;
    padding: 0.5em 1em;
  }
  &.delete {
    background-color: #ff4d4d;
  }
}

.button-text {
  padding: 0em 1em;
  font-size: 1rem;
  color: white;
}

.fa-trash,
.fa-arrow-right,
.fa-arrow-left,
.fa-arrow-down {
  color: white;
  font-size: 1rem;
}

.checkbox-container {
  border: 1px grey solid;
  border-radius: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 8px;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-top: 8px;
  margin-left: 16px;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  border-radius: 5px;
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  border-radius: 5px;
  background-color: #ff4d4d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
