/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// SIMPLE GRID - SASS/SCSS
// @import "statics";
// @import "site";
// @import "tables";
// @import "buttons";
// @import "main_menu";
// @import "stat_boxes";
// @import "elements";
// @import "isotope";

@import "premium";
@import "theme";
@import "bootstrap";
@import "font-awesome";

#line-chart {
  height: 300px;
  width: 800px;
  margin: 0px auto;
  margin-top: 1em;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
  color: #fff;
}

// Utility

.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom-md {
  margin-bottom: 15px;
}

.border-bottom {
  border-bottom: 1px solid #cccccc;
  // background-color: #cccccc;
}
