.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Categories", categories_path
      %li.active New Category
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      %br
      = render partial: "form"
