.content
  .header
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Shipments", shipments_path
      %li.active New Shipment
  .main-content
    .row
      .col-md-4
        - unless @shipment.persisted?
          %h5 Confirm new container information.
        = render partial: "form"
