.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Warehouses", warehouses_path
      %li.active New Warehouse
  .main-content
    .row
      .col-md-4
        %br
        = render partial: "form", locals: { no_edit: false, delete: false }
