.content
  .header
    %h1.page-title Warehouses
    %ul.breadcrumb
      %li
        = link_to "Home", index_path
      %li
        = link_to "Warehouses", warehouses_path
      %li.active New Warehouse
    = render partial: "layouts/jump_to_modal"
  .main-content
    .row
      %br
      = render partial: "form"
