.input-group.search.span12
  .input-group
    = text_field_tag :search, "", placeholder: placeholder, class: "form-control table-quick-filter", id: "#{assoc}-quick-filter"
    %span.input-group-btn.span12
      %a{id: "quick-filter-submit"}
        .btn.btn-primary.pull-left.table-filter-button
          %span Quick Filter
          %i.fa.fa-filter
